{% extends "./../basebar.html" %} {% block headerbar %}
<style>
    .body {
        min-width: 1000px;
    }

    .right-content {
        overflow: auto;
    }

    .contain-upload {
        min-height: 650px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }

    .apk-list {
        width: calc(40% - 3px);
        max-height: 680px;
        height: 100%;
        position: relative;
        overflow: auto;
        /*background: #ffffff;*/
    }

    .apk-list-wrapper {
        position: relative;
        height: auto !important;
        height: 100%;
        min-height: 100%;
    }

    .uploadfile-container {
        width: calc(55% - 3px);
        height: 100%;
        max-height: 680px;
    }

    .uploadfile {
        height: calc(100% - 115px);
        background: #FFFFFF;
        border: 1px solid lightgray;
    }

    .selector-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1 1 auto;
        padding-top: 100px;
    }

    .info-an {
        transition: all 100ms ease;
        position: relative;
        top: 50%;
        margin-top: -0.5em
    }

    .wave-position {
        transition: all 1000ms ease;
        height: 166px;
        position: relative;
        bottom: 165px;
        left: 0;
        width: 4592px;
        transform: translateY(100%);
    }

    @keyframes background-move {
        0% {
            box-shadow: black 0px 0px 50px;
        }
        50% {
            box-shadow: black 0px 0px 0px;
        }
        100% {
            box-shadow: black 0px 0px 50px;
        }
    }

    .step-container {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        height: calc(100% - 80px);
        margin: 40px;
        /*border: dotted rgba(13, 21, 56, 0.36) 3px;*/
        border: 1px dotted lightgray;
        /*text-align: center;*/
        overflow: hidden;
    }

    .step-container:not(:first-child) {
        transform: translateY(0) scale(0);
    }

    #file_drag {
        position: relative;
    }

    input[type='file'] {
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        margin-top: -1em;
        opacity: 0
    }

    .wave-high {
        transition: all 1000ms ease;
        top: 100%;
        position: relative;
    }

    .wave-holder {
        background: rgba(13, 21, 56, 0.36);
        height: 1000px;
        margin-top: 1px
    }

    #selector_vm_machine {
        margin-top: -40px;
    }

    #selector_vm_machine select {
        background: transparent;
        outline: 0;
        width: 100px;
        margin-bottom: 40px;
    }

    #selector_vm_machine span {
        width: 200px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    #selector_vm_machine option {
        background: transparent;
    }

    #selector_vm_machine button {
        background-color: transparent;
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 200px;
        margin-top: 8px;
    }

    #selector_vm_machine button:hover {
        background-color: #49a2f5;
        color: white;
    }

    #selector_vm_machine .container>div {
        top: 50%;
    }

    #yingyongtianjia {
        border-left: 2px solid #49a2f5;
        background: rgba(30, 29, 39, 0.18);
    }

    #yingyongtianjia a {
        background-image: url("/static/img/yingyongtianjia-xuanze.png");
    }

    .app-item-wrapper {
        padding-bottom: 30px;
    }

    .app-item {
        padding: 10px;
        margin-bottom: 4px;
        height: 33px;
        box-sizing: content-box;
        border: 1px solid lightgray;
        /*cursor: pointer;*/
        font-size: 10px;
        font-weight: 400;
        background-color: #ffffff;
    }

    .app-item span {
        width: 80px;
        text-align: center;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .apk-list .pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .apk-list .pagination span {
        width: 25px;
        height: 25px;
        line-height: 25px;
        white-space: nowrap;
        text-align: center;
        background-color: #ffffff;
        margin: auto 2px;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid lightgray;
        cursor: pointer;
    }

    .apk-list .pagination span img {
        vertical-align: baseline;
        width: 12px;
        height: 7.5px;
    }

    .apk-list .pagination .active {
        border: 1px solid #49a2f5;
        background-color: #49a2f5;
        color: #FFFFFF;
    }

    span.staticreport a:visited,
    span.staticreport a:link {
        text-decoration: none;
        color: #428bca;
    }

    span.staticreport a:hover {
        text-decoration: none;
        color: #2a6496;
    }

    .uploadfile-title {
        height: 40px;
        background-color: white;
        border: 1px solid lightgray;
        border-bottom: none;
        padding-top: 10px;
        padding-left: 40px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .file_drag_title,
    .selector_vm_machine_title,
    .upload_anim_title,
    .upload_anim_title {
        background-color: #ebeff5;
        height: 40px;
        padding-top: 10px;
        color: #49a2f5;
        font-weight: 400;
        font-size: 13px;
        padding-left: 5px;
    }

    .info-an {
        text-align: center;
    }

    .upload_result_container {
        text-align: center;
        padding-top: 100px;
    }

    .upload_result_container a {
        margin-bottom: 30px;
        display: inline-block;
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 140px;
        height: 30px;
        vertical-align: center;
        padding-top: 4px;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
    }

    a.reupload:hover,
    a.history:hover {
        background-color: #49a2f5;
        color: white;
    }
</style>
{% endblock %} {% block contentright %}
<!--<div style="width:100%;height:80px;background: rgba(13, 21, 56, 0.36)">-->

<!--</div>-->
<div class="contain-upload" style="height: calc(100% - 140px);">
    <div class="apk-list" id="apk-list">
        <div class="apk-list-wrapper">
            <div style="height: 45px;padding-top: 15px;font-weight: 400;font-size: 12px">添加历史 <span style="color: #49a2f5"> / HISTORICAL RECORD</span>
            </div>
            <div class="app-item-wrapper">
                <div style="height:35px;font-weight: 400;font-size: 10px;display: flex;justify-content: space-between;align-items: center">
                    <span style="width: 80px;text-align: center;">应用程序图标</span><span style="width: 80px;text-align: center;">应用程序名称</span><span style="width: 80px;text-align: left;">检测时间</span></div>
                <div class="app-item" v-for=" app in apps" style="display: flex;justify-content: space-between;align-items: center">
                    <span><img :src="app.logo" alt="" class="logo"></span>
                    <span class="">{$app.label$}</span>
                    <span class="">{$ displayTime(app.created_time) $}</span>
                    <span class="staticreport"><a v-bind:href="'/staticreport/index?apkinfoid=' + app.id" target="view_window">静态报告</a></span>
                </div>
            </div>
            <div class="pagination">
                <span @click="getData(currentPage - 1)"><img src="/static/img/backward.png" alt=""></span>
                <span :class="{active: n==currentPage}" v-for="n in pageCount" v-if="(n-currentPage) >= -2 && (n-currentPage) <= 2" @click="getData(n)">{$ n $}</span>
                <span @click="getData(currentPage + 1)"><img src="/static/img/forward.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="uploadfile-container">
        <div style="height: 80px;padding-top: 15px;font-weight: 400;font-size: 12px">添加新应用 <span style="color: #49a2f5"> / ADD NEW APP</span>
        </div>
        <div class="uploadfile-title">上传应用 UPLOAD APPLICATION</div>
        <div class="uploadfile">

            <div id="file_drag" class="step-container">
                <div class="file_drag_title">选择文件</div>
                <img src="/static/img/daicon.png" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 164px;height: 250px" alt="">
                <input type="file" style="" id="file">
            </div>
            <div></div>
            <div id="selector_vm_machine" class="step-container">
                <div class="selector_vm_machine_title">选择模拟器</div>
                <div class="selector-container" style="height: 100%;">


                    <div>
                        <span class="selcetor-title">选择检测系统</span>
                        <select name="vm" id="vm">
                            {% for item in mirrorlist %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <span class="selcetor-title">选择检测时间</span>
                        <select name="time" id="time">
                            <option value="5">5 mins</option>
                            <option value="10">10 mins</option>
                            <option value="15">15 mins</option>
                            <option value="120">2 hours</option>
                        </select>
                    </div>
                    <div>
                        <button onclick="animateToTwo()">开始上传</button>
                    </div>
                    <!--<div class="confirm col-md-4"><i class="iconfont icon-check" onclick="animateToTwo()"></i></div>-->
                </div>
            </div>
            <div id="upload_anim" class="step-container" style="margin-top: -40px;">
                <div class="upload_anim_title">开始上传</div>
                <div class="info-an" id="message" style="">
                </div>
                <div class="wave-high">
                    <div class="wave wave-position"></div>
                    <div class=" wave-holder"></div>
                </div>
            </div>
            <div id="upload_result" class="step-container" style="margin-top: -40px;">
                <div class="upload_anim_title">上传结果</div>
                <div class="upload_result_container">
                    <div id="result_message"></div>
                    <div><a href="/project/create" class="reupload">重新上传</a></div>
                    <div>
                        <a href="/project/history" class="history">历史记录</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script src="/static/app/js/moment-with-locales.js"></script>
<script>
    moment.locale('zh-CN');
    $('.guide-bar p')[0].firstChild.nodeValue = '添加应用';
    $('.guide-bar p')[0].childNodes[1].firstChild.nodeValue = ' / ADD APP';

    function uploadFile(file) {

        var name = file.name;
        var size = file.size;
        var formData = new FormData();
        formData.append('apk', file);
        formData.append('name', 'test');
        formData.append('apkfilename', name);
        formData.append('vm', $('#vm').val());
        formData.append('time', $('#time').val());
        $.ajax({
            url: '/project/upload',
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,
            xhr: function() { //这是关键  获取原生的xhr对象  做以前做的所有事情
                var xhr = jQuery.ajaxSettings.xhr();
                xhr.upload.onload = function() {

                };
                xhr.upload.onprogress = function(ev) {
                    if (ev.lengthComputable) {
                        var percent = new Intl.NumberFormat('en-IN', {
                            maximumSignificantDigits: 2
                        }).format(100 * ev.loaded / ev.total);
                        message("上传 <i>" + name + "</i> " + percent + "%");
                        updateProgress(percent + "%");
                    }
                };
                return xhr;
            },
            success: function(data) {
                hide();
                animateToThree();
                if (data.errno === 0) {

                    $('#result_message').html("<i class='iconfont icon-check' ></i><br><span>上传成功</span>");
                    $('#result_message i').css({
                        "color": "white",
                        "display": "inline - block",
                        "font-size": "30px",
                        "border-radius": "21px",
                        "width": "42px",
                        "height": "42px",
                        "background-color": "green",

                    });
                    $('#result_message span').css({
                        "margin-bottom": "20px",

                        "display": "inline-block",
                        "font-weight": "300"
                    })





                } else {
                    $('#result_message').html("<i class='iconfont icon-close'></i><br><span>上传失败</span>");
                    $('#result_message i').css({
                        "color": "white",
                        "display": "inline - block",
                        "font-size": "30px",
                        "border-radius": "21px",
                        "width": "42px",
                        "height": "42px",
                        "background-color": "red",

                    });
                    $('#result_message span').css({
                        "margin-bottom": "20px",

                        "display": "inline-block",
                        "font-weight": "300"
                    })

                }
            }
        });
    }


    $("#file").on('change', function(evt) {
        global_file = this.files[0];
        animateToOne();
    });

    function message(message, status) {
        $("#message").html(message);
        switch (status) {
            case "success":
                $("#message").css('color', 'green');
                setTimeout(function() {
                    $("#message").css('color', 'white');
                }, 3000);
                break;
            case "failed":
                $("#message").css('color', 'red');
                break;
            case "normal":
                $("#message").css('color', 'white');
                break;
            default:
        }
        $("#message").css('color')
    }

    function show() {
        updateProgress("0%");
    }

    function hide() {
        updateProgress("-166px");
    }

    function updateProgress(precent) {
        $(".wave-high").each(function(ele) {
            if (precent.indexOf('%') > 0) {
                $(this).css('top', "calc(100% - " + precent + " - 166px)");
            } else {
                $(this).css('top', "calc(100%)");
            }
        });
    }
    var isOver = false;
    $("body").get(0).ondragleave = function(evt) {
        $('#file_drag').css('animation', 'none');
        isOver = false;

        return false;
    };
    $("body").get(0).ondragover = function(evt) {
        evt.preventDefault();
        if (!isOver) {
            $('#file_drag').css('animation', 'background-move 2000ms ease infinite');
            isOver = true;
        }
    };

    var global_file = null;
    $('#file_drag').get(0).addEventListener('drop', function(e) {
        e.preventDefault(); // 阻止默认事件
        isOver = false;
        $('#file_drag').css('animation', 'none');
        global_file = e.dataTransfer.files[0];
        animateToOne();
    }, false);

    var global_curIndex = 0;

    function animateToOne() {
        $("#file_drag").css('transform', 'translateY(-100%) scale(0)');
        $("#file_drag").css('opacity', '0');
        global_curIndex = 1;
        $(".step-container").eq(1).css('transform', 'translateY(-100%) scale(1)');
        $(".step-container").eq(1).css('opacity', '1');
    }

    function animateToTwo() {
        $(".step-container").eq(1).css('transform', 'translateY(-200%) scale(0)');
        $(".step-container").eq(1).css('opacity', '0');
        global_curIndex = 2;
        $(".step-container").eq(2).css('transform', 'translateY(-200%) scale(1)');
        $(".step-container").eq(2).css('opacity', '1');
        hide();
        show();
        setTimeout(function() {
            uploadFile(global_file);
        }, 1000);
    }

    function animateToThree() {
        $(".step-container").eq(2).css('transform', 'translateY(-300%) scale(0)');
        $(".step-container").eq(2).css('opacity', '0');
        // global_curIndex = 3;
        $(".step-container").eq(3).css('transform', 'translateY(-300%) scale(1)');
        $(".step-container").eq(3).css('opacity', '1');




    }

    Vue.config.debug = true;
    Vue.config.silent = false;

    var $vm = new Vue({
        el: '#apk-list',
        delimiters: ['{$', '$}'],
        data: {
            pageCount: '',
            currentPage: '',
            apps: []
        },
        methods: {
            displayTime: function(time) {
                return moment(time, 'YYYY-MM-DD HH:mm:ss').fromNow()
            },
            getData: function(n) {
                if (n > this.pageCount || n < 1) {
                    return;
                }
                $.ajax({
                    url: "/project/getlistapkinfo",
                    data: {
                        perPage: 9,
                        getPage: n
                    },
                    success: data => {
                        if (data.errno == 0) {
                            var apps = data.data.data;
                            $vm.pageCount = data.data.totalPages;
                            $vm.currentPage = data.data.currentPage;
                            setTimeout(() => {
                                $vm.isLoading = false;
                                $vm.apps = apps.map(function(app) {
                                    app.created_time = app.uploadtime;
                                    app.isfullinfo = false;
                                    if (!app.label) {
                                        app.label = "正在检测...";
                                    }
                                    if (!app.logo) {
                                        app.logo = "/static/images/loading.gif";
                                    }
                                    return app;
                                });
                            }, 100);
                        }
                    }
                });
            }
        }
    });

    $.ajax({
        url: '/project/getlistapkinfo',
        data: {
            perPage: 9,
            getPage: 1
        },
        success: data => {
            if (data.errno == 0) {
                var apps = data.data.data;
                $vm.pageCount = data.data.totalPages;
                $vm.currentPage = data.data.currentPage;
                setTimeout(() => {
                    $vm.apps = apps.map(function(app) {
                        app.created_time = app.uploadtime;
                        app.isfullinfo = false;
                        if (!app.label) {
                            app.label = "正在检测...";
                        }
                        if (!app.logo) {
                            app.logo = "/static/images/loading.gif";
                        }
                        return app;
                    });
                }, 100);
            }
        }
    })
</script>

{% endblock %}