{% extends "./../basebar.html" %}{% block title %}历史列表{% endblock %}{% block headerbar %}
<link rel="stylesheet" href="/static/app/css/hwLayer.css">
<style>
    #app {
        padding-left: 30px;
        padding-right: 30px;
    }

    .right-content {
        overflow: auto;
    }

    @media screen and (min-width: 760px) {
        .history-list {
            width: calc(40% - 3px);
            height: calc(100vh - 160px);
            display: inline-block;
            vertical-align: top;
        }

        .app-selected {
            width: calc(60% - 3px);
            display: inline-block;
            height: calc(100vh - 160px);
            overflow-y: auto;
            overflow-x: hidden;
            vertical-align: top;
        }
    }

    @media screen and (max-width: 760px) {
        .history-list {
            width: 100%;
            height: 50vh;
            display: inline-block;
            vertical-align: top;
        }

        .app-selected {
            width: 100%;
            display: inline-block;
            height: 50vh;
            vertical-align: top;
        }
    }

    .app-item-wrapper .choosen {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .app-item-wrapper .choosen:hover {
        border: 1px solid lightgray !important;
    }

    .app-item {
        padding: 10px;
        margin: 4px auto;
        height: 35px;
        box-sizing: content-box;
        border: 1px solid lightgray;
        /*cursor: pointer;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
        background-color: #ffffff;
        cursor: pointer;
    }

    .app-item div span {
        font-weight: 400;
    }

    .app-item:hover {
        border: 1px solid #49a2f5 !important;
    }

    .app-item .logo {
        padding: 5px;
        height: 50px;
        width: 50px;
        float: left;
        /*position: absolute;*/
    }

    .app-item > div {
        /*padding-left: 70px;*/
        float: left;
        /*display: inline-block;*/
    }

    .app-item .detail-info {
        color: #49a2f5;
        border: 1px solid #49a2f5;
        border-radius: 2px;
        padding: 2px;
        cursor: pointer;
    }

    .app-item .detail-info:hover {
        /*border: none;*/
        background-color: #49a2f5 !important;
        color: #ffffff !important;
    }

    .history-list {
        position: relative;
    }

    .history-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: rgba(13, 21, 56, 0.16);
    }

    .app {
        position: relative;
        overflow: hidden;
        /*height: 100%;*/
        /*padding-top: 80px;*/
        height: 680px;
    }

    .app span {
        font-weight: 100;
        font-size: 1.1em;
    }

    .app .pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    .app .pagination span {

        width: 25px;
        height: 25px;
        line-height: 25px;
        white-space: nowrap;
        text-align: center;
        background-color: #ffffff;
        margin: auto 2px;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid lightgray;
        cursor: pointer;
    }

    .app .pagination span img {
        vertical-align: baseline;
        width: 12px;
        height: 7.5px;
    }

    .app .pagination .active {
        border: 1px solid #49a2f5;
        background-color: #49a2f5;
        color: #FFFFFF;
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-active {
        opacity: 0;
        transform: translateY(-30px);
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-out .5s;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes bounce-out {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(0);
        }
    }

    .empty-page {
        text-align: center;
        float: left;
        margin-top: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
    }

    .app-selected {
        padding-left: 20px;
        padding-right: 10px;
    }

    .app-info-detail {
    }

    .app-info-detail .logo {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .app-info-detail .app-name {
        padding: 10px;
        border: 1px solid white;
        margin: 5px 0px;
        border-radius: 5px;
        text-align: center;
    }

    /*.app-info .info-title {
        border-radius: .25em;
        background-color: #5cb85c;
        font-size: 75%;
        font-weight: 700;
        padding: .1em .6em .1em;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        display: inline;
    }*/

    .app-info-detail .content-wrapper {
        border: 1px solid lightgray;
        font-size: 12px;
    }

    .app-info-detail .title {
        height: 30px;
        background-color: #49a2f5;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 30px;
        white-space: nowrap;
        overflow: auto;
    }

    .app-info-detail .content {
        height: 120px;
        background-color: #FFFFFF;
        position: relative;
    }

    .app-info-detail .content p {
        margin: 1px;
    }

    .app-info {
        margin: 2px;
        white-space: nowrap;
    }

    .button-btn {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        margin: 5px 0px;
        border-radius: 5px;
        text-align: center;
    }

    .info-hand {
        padding-bottom: 10px;
        border: 1px solid white;
        margin: 5px 0px;
        border-radius: 5px;
        text-align: center;
        overflow: hidden;
    }

    .infoblanket {
        position: relative;
        padding: 10px;
        border: 1px solid white;
        margin: 5px 0px;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }

    .test-link {
        width: 68px;
        height: 68px;
        padding: 5px;
        background: rgba(30, 29, 39, 0.18);
        border-radius: 50px;
        text-align: center;
        padding-top: calc(50px - 1.4em);
    }

    .demo2 {
        transform-origin: center;
        transform: rotate(-90deg);
    }

    .mask {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
        text-align: center;
        line-height: 110px;
        font-size: 16px;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .bar-unfill {
        height: 30px;
        display: block;
        background: #fff;
        width: 100%;
    }

    .bar-fill {
        height: 30px;
        display: block;
        width: 0;
        background: #5cb85c;
        transition: width .8s ease;
    }

    /* Standard syntax */

    @keyframes progressbar {
        from {
            width: 10%
        }
        to {
            width: 100%
        }
    }

    .slide-fade-enter-active {
        transition: sliding-vertically .3s ease;
    }

    .slide-fade-leave-active {
        transition: sliding-vertically .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter,
    .slide-fade-leave-active {
        transform: translateX(10px);
        opacity: 0;
    }

    #lishi {
        border-left: 2px solid #49a2f5;
        background: rgba(30, 29, 39, 0.18);
    }

    #lishi a {
        background-image: url("/static/img/lishi-xuanze.png");
    }

    .automatic {
        width: 100%;
    }

    .automatic .left-progress {
        width: 50%;
        float: left;
        padding-right: 5px;
    }

    .automatic .right-info {
        width: 50%;
        float: left;
        padding-left: 5px;
    }

    .automatic .s-panel {
        height: 180px;
        border: 1px solid lightgray;
        background: #fff;
    }

    .automatic .s-panel .title {
        padding-left: 30px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid lightgray;
    }

    .automatic .s-panel .content {
        font-size: 10px;
        margin: 10px 10px;
    }

    .automatic .button {
        width: 100%;
        margin-top: 6px;
    }

    .un-automatic .s-panel {
        border: 1px solid lightgray;
        background: #fff;
        margin-top: 5px;
    }

    .un-automatic .s-panel .title {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid lightgray;
        padding-left: 30px;
    }

    .un-automatic .s-panel .title .right-button {
        float: right;
        border-left: 1px solid lightgray;
        padding: 0 20px;
        cursor: pointer;
    }

    .un-automatic .s-panel .content .right {
        float: right;
        padding: 15px 12px;
        width: 130px;
    }

    .un-automatic .s-panel .content .left {
        padding: 5px 0px 5px 30px;
        font-size: 13px;
        margin-right: 130px;
    }

    .un-automatic .info-item {
        display: inline-block;
    }

    .un-automatic .button {
        width: 100px;
        margin-top: 5px;
    }

    .button {
        background: #49a2f5;
        /*border: 2px solid #49a2f5;*/
        color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        text-align: center;
        display: inline-block;
        text-decoration: none !important;
    }



    .button:hover {
        background: #fff;
        border: 2px solid #49a2f5;
        color: #49a2f5;
        cursor: pointer;
    }

    .button.manual {
        background: #fff;
        border: 2px solid #49a2f5;
        color: #49a2f5;
    }

    .button.manual:hover {
        background: #49a2f5;
        color: #fff;
    }

    .button.rose {
        background: #f5498e;
        color: #fff;
        /*border: 2px solid #f5498e;*/
    }

    .button.rose:hover {
        background: #fff;
        color: #f5498e;
        border: 2px solid #f5498e;
        cursor: pointer;
    }

    .button.disable {
        border: 2px solid #ced6e1;
        background: #ced6e1;
        color: #fff;
    }

    .button.disable:hover {
        background: #ced6e1;
        color: #fff;
        cursor: not-allowed;
    }

    .s-progress-container {
        height: 60px;
        border: 1px solid lightgray;
        width: 100%;
        margin: 10px 0;
        position: relative;
    }

    .s-progress-container .s-progress-bar {
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(219, 237, 253, 0), rgba(219, 237, 253, 1));
        background: -o-linear-gradient(right, rgba(219, 237, 253, 0), rgba(219, 237, 253, 1));
        background: -moz-linear-gradient(right, rgba(219, 237, 253, 0), rgba(219, 237, 253, 1));
        background: linear-gradient(to right, rgba(219, 237, 253, 0), rgba(219, 237, 253, 1));
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }

    .s-progress-container .s-progress-text {
        position: absolute;
        top: 0;
        left: 10px;
        line-height: 60px;
        font-size: 30px;
    }

    #J_progress_bar {
        stroke-linecap: round;
        transition: stroke-dasharray .5s ease;
    }

</style>
{% endblock %}

{% block contentright %}
<div id="app" style="opacity: 0">
    <div class="history-list">
        <!--<div class="history-header" style="z-index: 2">
            <h1 style="font-weight:100;padding-left: 10px">历史列表
                <transition name="bounce">
                    <p style="float:right" v-if="isLoading">Loading...</p>
                </transition>
            </h1>
        </div>-->
        <div class="app">
            <div class="app-wrapper">
                <p style="font-weight: 400;font-size: 12px">已检测项目 <img src="/static/img/xiaosanjiao.png" alt=""></p>
                <div class="app-item-wrapper">
                    <template v-for="app,index in apps">
                        <div class="app-item" v-bind:class="{ choosen: index == selectedIndex }"
                             :key="index" :data-index="index" @click="select(index)">
                            <img :src="app.logo" alt="" class="logo">
                            <div style="flex-grow: 2;padding-left: 30px">
                                <div>
                                    <span>应用名称：</span> <span> {$app.label$}</span>
                                </div>
                                <div>
                                    <span>检测日期：</span> <span> {$displayTime(app.created_time)$}</span>
                                </div>
                            </div>
                            <!--<div class="detail-info" @click="select(index)">查看详情</div>-->
                        </div>
                    </template>
                </div>
                <div class="pagination">
                    <span @click="getData(currentPage - 1)"><img src="/static/img/backward.png" alt=""></span>
                    <span :class="{active: n==currentPage}" v-for="n in pageCount"
                          v-if="(n-currentPage) >= -2 && (n-currentPage) <= 2" @click="getData(n)">{$ n $}</span>
                    <span @click="getData(currentPage + 1)"><img src="/static/img/forward.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>

    <div class="app-selected">
        <div v-if="selectedIndex > -1" v-bind:key="2">
            <div class="test-result-title">
                <p style="font-weight: 400; font-size: 12px">检测结果<span style="color: #49a2f5"> / DETECTION RESULT</span>
                </p>
            </div>
            <div class="app-info-detail">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="content-wrapper">
                            <div class="title" style="text-align: center">应用图标</div>
                            <div class="content">
                                <img :src="apps[selectedIndex].logo" alt="" class="logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="content-wrapper">
                            <div class="title"
                                 style="padding-left: 15px;display: flex;justify-content: space-between;align-items: center">
                                文件分析报告 <a v-if="apps[selectedIndex].isfullinfo"
                                          style="text-decoration: none;color: #FFFFFF;border-left: 1px solid #FFFFFF;padding-left: 5px;padding-right: 5px;background-color: #49a2f3"
                                          v-bind:href="'/staticreport/index?apkinfoid=' + apps[selectedIndex].infoid"
                                          target="_blank"><img
                                    src="/static/img/baogao.png" style="width: 10.8px;height: 12px;vertical-align: -5%"
                                    alt=""> 静态检测报告</a></div>
                            <div class="content" style="padding: 23px 15px;font-size: 10px;font-weight: 400">
                                <div v-if="!apps[selectedIndex].isfullinfo">正在检测，请稍后......</div>
                                <div v-if="apps[selectedIndex].isfullinfo">
                                    <p>应用名称：{$ apps[selectedIndex].label $}</p>
                                    <p>包名：{$ apps[selectedIndex].packagename $}</p>
                                    <p>文件大小：{$(apps[selectedIndex].size/ 1024 / 1024).toFixed(2)$}MB</p>
                                    <p>文件MD5： {$apps[selectedIndex].md5$}</p>
                                    <p>文件SHA1：{$apps[selectedIndex].sha1$}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Waiting for implement-->
            <div class="app-action-list">
                    <div v-if="apps[selectedIndex].isfullinfo === false"></div>
                    <div v-else style="padding-top: 15px;font-size: 12px;font-weight: 400;">
                        <div class="test-result-title">
                            <p style="font-weight: 400; font-size: 12px">自动检测<span style="color: #49a2f5"> / AUTOMATIC DETECTION</span>
                            </p>
                        </div>

                        <div class="automatic">
                            <div class="left-progress">
                                <div class="s-panel">
                                    <div class="title">检测进度&nbsp;&nbsp;TEST&nbsp;PROGRESS</div>
                                    <div class="content"
                                         style="text-align: center; margin-left: 50%; position: relative;margin-top:20px">
                                        <div class='process_bar' style="margin-left:-55px; position: absolute;">
                                            <svg xmlns="http://www.w3.org/200/svg" height="110" width="110">
                                                <circle cx="55" cy="55" r="50" fill="none" stroke="lightgrey"
                                                        stroke-width="10"
                                                        stroke-linecap="round"/>
                                                <circle class="demo2" id="J_progress_bar" cx="55" cy="55" r="50"
                                                        fill="none"
                                                        stroke="#f5498e" stroke-width="5" stroke-dasharray="157,10000"/>
                                            </svg>
                                            <div class="mask">{$autoPercentage$}</div>
                                        </div>
                                    </div>
                                </div>
                                <a v-bind:href="'/runner/token/'+autoDomainInfo.token" v-if="autoDomainInfo.state==1"
                                   target="_blank" class="button rose">进入检测页面</a>
                                <div v-if="!(autoDomainInfo.state==1)" class="button disable">进入检测页面</div>
                            </div>
                            <div class="right-info">
                                <div class="s-panel">
                                    <div class="title">检测信息&nbsp;&nbsp;TEST&nbsp;INFORMATION</div>
                                    <div class="content">
                                        <p>检测引擎：{$ autoDomainInfo.imagename $}</p>
                                        <p>检测时间：{$ (autoDomainInfo.testtime / 60000).toFixed(2) $} min</p>
                                        <p>开始时间：{$ autoDomainInfo.begintime $}</p>
                                        <p>结束时间：{$ autoDomainInfo.endtime $}</p>
                                        <p>当前状态：{$ getStateName(autoDomainInfo.state) $}</p>
                                    </div>
                                </div>
                                <a v-bind:href="'/dynamicreport/index?dynamicid='+autoDomainInfo.did+'&apkinfoid='+apps[selectedIndex].infoid+'&auto=1'+'&projectid='+autoDomainInfo.pid"
                                   v-if="autoDomainInfo.state==3" target="_blank" class="button">进入报告页面</a>
                                <div v-if="!(autoDomainInfo.state==3)" class="button disable">进入报告页面</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="test-result-title" style="margin-top: 20px;">
                            <p style="font-weight: 400; font-size: 12px">手动检测<span style="color: #49a2f5"> / MANUAL INSPECTION</span>
                            </p>
                        </div>
                        <div class="un-automatic">
                            <div class="s-panel">
                                <div class="title">
                                    创建检测 CREATE TEST
                                    <div class="right-button" v-on:click="showCreateLayout=!showCreateLayout">创建</div>
                                </div>
                                <div class="content" v-if="showCreateLayout">
                                    <div class="right">
                                        <div class="button manual" v-on:click="createNewTest()">添加手动检测</div>
                                    </div>
                                    <form class="left">
                                        <label for="version" style="font-weight: 100">检测器版本</label>
                                        <select name="version" id="version">
                                            {% for item in mirrorlist %}
                                            <option value="{{item.id}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <br/>
                                        <label for="time" style="font-weight: 100">检测时间&emsp;</label>
                                        <select name="time" id="time">
                                            <option value="5">5 mins</option>
                                            <option value="10">10 mins</option>
                                            <option value="15">15 mins</option>
                                            <option value="120">2 hours</option>
                                        </select>
                                        <br/>
                                    </form>
                                </div>
                            </div>
                            <template v-for="item in domainInfo">
                                <div class="s-panel" v-if="!item.iserror && !item.iscomplete">
                                    <div class="title">
                                        检测进度 TEST PROGRESS - {$ item.imagename $}
                                        <div class="right-button">
                                            <div v-on:click="terminateHandTest(item)">停止</div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="right">
                                            <a v-bind:href="'/runner/token/'+item.token" v-if="item.state==1"
                                               target="_blank" class="button rose">进入检测页面</a>
                                            <div v-if="!(item.state==1)" class="button disable">进入检测页面</div>
                                            <div class="button disable">进入报告页面</div>
                                        </div>
                                        <div class="left">
                                            <div>
                                                <div class="info-item" style="margin-right: 5px;">当前状态：{$
                                                    getStateName(item.state) $}
                                                </div>
                                                <div class="info-item" style="margin-right: 5px">开始时间：{$ item.begintime $}
                                                </div>
                                                <div class="info-item" style="">结束时间：{$ item.endtime $}
                                                </div>
                                            </div>
                                            <div>
                                                <div class="s-progress-container">
                                                    <div class="s-progress-bar"
                                                         v-bind:style="{width: (item.percentvalue*100).toFixed(0)+'%'}"></div>
                                                    <div class="s-progress-text">{$ parseInt(item.lefttime / 60000)
                                                        $}:{$ (item.lefttime/1000).toFixed(0)%60 $}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="s-panel" v-if="!item.iserror && item.iscomplete">
                                    <div class="title">
                                        检测进度 TEST PROGRESS - {$ item.imagename $}
                                    </div>
                                    <div class="content">
                                        <div class="right">
                                            <a v-bind:href="'/dynamicreport/index?dynamicid='+item.did+'&apkinfoid='+apps[selectedIndex].infoid+'&auto=0'+'&projectid='+item.pid"
                                               target="_blank" class="button manual">进入报告页面</a>
                                        </div>
                                        <div class="left">
                                            <div style="margin-top:16px;display: flex;">
                                                <div class="info-item" style="margin-right: 10px;">当前状态：{$
                                                    getStateName(item.state) $}
                                                </div>
                                                <div class="info-item" style="margin-right: 10px;">开始时间：{$ item.begintime $}
                                                </div>
                                                <div class="info-item" style="">持续时间：{$ (item.testtime /
                                                    60000).toFixed(2) $} min
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="s-panel" v-if="item.iserror">
                                    <div class="title">
                                        检测进度 TEST PROGRESS - {$ item.imagename $}
                                    </div>
                                    <div class="content">
                                        <div class="left">
                                            <div style="margin-top:16px;display: flex;">
                                                <div class="info-item" style="margin-right: 10px;">当前状态：{$
                                                    getStateName(item.state) $}
                                                </div>
                                                <div class="info-item" style="margin-right: 10px;">开始时间：{$ item.begintime $}
                                                </div>
                                                <div class="info-item">持续时间：{$ (item.testtime /
                                                    60000).toFixed(2) $} min
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    Date.prototype.pattern = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "/u65e5",
            "1": "/u4e00",
            "2": "/u4e8c",
            "3": "/u4e09",
            "4": "/u56db",
            "5": "/u4e94",
            "6": "/u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
</script>
<script>
    if (location.hash === '') {
        location.hash = '1#0';
    }
    let storeHash = location.hash.split('#').splice(1);
    if (storeHash.length !== 2) {
        location.hash = '1#0';
        storeHash = location.hash.split('#').splice(1);
    } else {
        if (isNumber(storeHash[0])) {
            storeHash[0] = parseInt(storeHash[0]);
        } else {
            storeHash[0] = 1;
        }
        if (isNumber(storeHash[1])) {
            storeHash[1] = parseInt(storeHash[1]);
            if (storeHash[1] >= 9 || storeHash[1] < 0) {
                storeHash[1] = 0;
            }
        } else {
            storeHash[1] = 0;
        }
    }


    let lastPage = storeHash[0],
        lastIndex = storeHash[1];

    function isNumber(obj) {
        return !isNaN(parseFloat(obj)) && isFinite(obj);
    }

    $('.guide-bar p')[0].firstChild.nodeValue = '历史记录';
    $('.guide-bar p')[0].childNodes[1].firstChild.nodeValue = ' / HISTORICAL RECORD';
    var formatDate = function (date) {
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        return y + '-' + m + '-' + d;
    };
</script>
<script src="/static/app/js/velocity.min.js"></script>
<script src="/static/app/js/moment-with-locales.js"></script>
<script>
    moment.locale('zh-CN');
    Vue.config.debug = true;
    Vue.config.silent = false;

    var $vm = new Vue({
        el: '#app',
        delimiters: ['{$', '$}'],
        data: {
            isLoading: true,
            selectedIndex: -1,
            apps: [],
            autoPercentage: 0,
            pageCount: '',
            currentPage: '',
            showCreateLayout: false,
            domainInfo: [],
            autoDomainInfo: {},
            serverTime: null,
            lastUpdateTime: null
        },
        created: function () {
            let that = this;
            that.getServerTime();
            setInterval(function () {
                that.getServerTime();
            }, 60000);
            setInterval(function () {
                that.updateTime();
            }, 1000);
        },
        methods: {
            getStateName(state){
                switch (state) {
                    case 0:
                        return "模拟器创建中";
                    case 1:
                        return "正在检测";
                    case 2:
                        return "报告生成中";
                    case 3:
                        return "检测已完成";
                    default:
                        return "未知状态";
                }
            },
            getState: function (begin, end, current) {
                if (end <= begin || current < begin) return -1;
                if (current - end > 60000) return 3;
                if (current >= end) return 2;
                if (current - begin < 60000) return 0;
                return 1;
            },
            updateTime: function () {
                let that = this;
                this.serverTime += 1000;
                // 更新自动检测
                let circle = $('#J_progress_bar');
                let circleLength = Math.floor(2 * Math.PI * circle.attr('r'));

                let autoStartTime = new Date(this.autoDomainInfo.createtime);
                let autoEndTime = new Date(this.autoDomainInfo.deadlinetime);

                this.autoDomainInfo.state = this.getState(autoStartTime.getTime(), autoEndTime.getTime(), this.serverTime);
                let circleValue = (this.serverTime - autoStartTime.getTime()) / (autoEndTime.getTime() - autoStartTime.getTime());
                if (circleValue > 1) {
                    circleValue = 1.0;
                    this.autoPercentage = "检测完成"
                } else {
                    this.autoPercentage = Math.round(circleValue * 100) + '%';
                }
                circle.attr('stroke-dasharray', "" + circleLength * circleValue + ', 10000');
                circle.attr('stroke', '#f5498e');

                // 更新手动检测
                this.domainInfo.forEach(function (item) {
                    if (item.iserror) return;
                    //if (item.iscomplete) return;
                    let startTime = new Date(item.createtime);
                    let endTime = new Date(item.deadlinetime);
                    item['iscomplete'] = that.serverTime >= endTime.getTime();
                    item['state'] = that.getState(startTime.getTime(), endTime.getTime(), that.serverTime);
                    item['lefttime'] = endTime.getTime() - that.serverTime;
                    item['percentvalue'] = (that.serverTime - startTime.getTime()) / (endTime.getTime() - startTime.getTime());
//                    console.log("update item", item);
                });
                if (this.autoDomainInfo.iserror) {
                    this.getDomainInfoByType(this.autoDomainInfo.pid, this.autoDomainInfo.type, function (info) {
                        if (info.iserror) return;
                        that.copyDomainInfoToItem(info, that.autoDomainInfo);
                    });
                }
                this.domainInfo.forEach(function (item) {
                    if (!item.iserror) return;
                    that.getDomainInfoByType(item.pid, item.type, function (info) {
                        if (info.iserror) return;
                        that.copyDomainInfoToItem(info, item);
                    });
                });
            },
            getServerTime: function () {
                let that = this;
                $.ajax({
                    url: "/project/getNow",
                    method: "GET",
                    success: (data) => {
                        if (data.errno === 0) {
                            that.serverTime = data.data;
                            that.lastUpdateTime = new Date().getTime();
                        } else {
                            that.serverTime = new Date().getTime();
                            that.lastUpdateTime = that.serverTime;
                        }
                    }
                });
            },
            getDomainList: function (projectid) {
                let that = this;
                this.domainInfo = [];
                $.ajax({
                    url: '/project/getTokens',
                    data: {
                        projectid: projectid
                    },
                    method: "POST",
                    success: data => {
                        if (data.errno !== 0)
                            return console.log(data.errmsg);
                        if (data.data.length === 0)
                            return console.log("error length");
                        data.data.forEach(function (item) {
                            that.getDomainInfoByType(item.projectid, item.type, function (info) {
                                if (!info['iserror']) {
                                    info['imagename'] = item.imageid;
                                    let deadlineTime = new Date(info.deadlinetime);
                                    let startTime = new Date(info.createtime);
                                    info['iscomplete'] = that.serverTime >= deadlineTime.getTime();
                                    info['testtime'] = deadlineTime.getTime() - startTime.getTime();
                                    info['begintime'] = startTime.pattern("yyyy-MM-dd hh:mm:ss");
                                    info['endtime'] = deadlineTime.pattern("yyyy-MM-dd hh:mm:ss");
                                    info['state'] = that.getState(startTime.getTime(), deadlineTime.getTime(), that.serverTime);
                                    info['pid'] = projectid;
                                    info['token'] = item.token;
                                    info['lefttime'] = deadlineTime.getTime() - that.serverTime;
                                    info['percentvalue'] = 0;
                                } else {
                                    info['imagename'] = item.imageid;
                                    info['iscomplete'] = false;
                                    info['testtime'] = -1;
                                    info['begintime'] = "-";
                                    info['endtime'] = "-";
                                    info['state'] = -1;
                                    info['pid'] = projectid;
                                    info['token'] = item.token;
                                    info['lefttime'] = -1;
                                    info['percentvalue'] = 0;
                                }
                                if (item.type === 0) {
                                    Vue.set($vm, "autoDomainInfo", info);
                                } else {
                                    that.domainInfo.push(info);
                                }
                            });
                        });
                    }
                });
            },
            getDomainInfoByType: function (projectid, type, success) {
                $.ajax({
                    url: "/project/getLifeCycle",
                    data: {
                        projectid: projectid,
                        type: type
                    },
                    method: "GET",
                    success: data => {
                        if (data.errno === 0) {
                            return success({
                                iserror: false,
                                type: type,
                                did: data.data[0].id,
                                createtime: data.data[0].createtime,
                                deadlinetime: data.data[0].deadlinetime
                            });
                        } else {
                            console.log(type, data.errmsg);
                            return success({
                                iserror: true,
                                type: type,
                                did: -1,
                                createtime: -1,
                                deadlinetime: -1
                            });
                        }
                    }
                });
            },
            copyDomainInfoToItem: function (info, item) {
                item.iserror = false;
                item["did"] = info["did"];
                item['createtime'] = info["createtime"];
                item["deadlinetime"] = info["deadlinetime"];
                let deadlineTime = new Date(info.deadlinetime);
                let startTime = new Date(info.createtime);
                item['iscomplete'] = this.serverTime >= deadlineTime.getTime();
                item['testtime'] = deadlineTime.getTime() - startTime.getTime();
                item['begintime'] = startTime.pattern("yyyy-MM-dd hh:mm:ss");
                item['endtime'] = deadlineTime.pattern("yyyy-MM-dd hh:mm:ss");
                item['state'] = this.getState(startTime.getTime(), deadlineTime.getTime(), this.serverTime);
                item['lefttime'] = deadlineTime.getTime() - this.serverTime;
                item['percentvalue'] = 0;
                return item;
            },
            createNewTest: function () {
                let that = this;
                this.showCreateLayout = false;

                let projectid = $vm.apps[$vm.selectedIndex].id;
                let formData = new FormData();
                formData.append('projectid', projectid);
                formData.append('vm', $('#version').val());
                formData.append('time', $('#time').val());
                $.ajax({
                    url: '/project/uploadhandful',
                    data: formData,
                    method: 'POST',
                    contentType: false,
                    processData: false,
                    success: data => {
                        let token = data.data;
                        that.domainInfo.unshift({
                            iserror: true,
                            type: token.type,
                            createtime: -1,
                            deadlinetime: -1,
                            imagename: token.imageid,
                            iscomplete: false,
                            testtime: -1,
                            begintime: "-",
                            endtime: -1,
                            state: -1,
                            pid: projectid,
                            token: token.token,
                            lefttime: -1,
                            percentvalue: 0
                        });
                    }
                });
            },
            terminateHandTest: function (item) {
                var that = this;
                $.ajax({
                    url: "/project/updateLifeCycle",
                    data: {
                        projectid: item.pid,
                        type: item.type
                    },
                    method: "POST",
                    success: (data) => {
                        if (data.errno === 0) {
                            item.deadlinetime = that.serverTime;
                            item.testtime = that.serverTime - new Date(item.createtime).getTime();
                        }
                    }
                })
            },
            getApkInfo: function (projid) {
                $.ajax({
                    url: '/project/apkinfo',
                    data: {
                        proj: projid
                    },
                    method: "GET",
                    success: data => {
                        var apkinfo = null;
                        if (!data.data || data.data.length == 0) {
                            console.log("projid" + projid + " not have apkinfo");
                            return;
                        }
                        apkinfo = data.data[0];
                        this.apps.forEach(function ($) {
                            if ($.id === projid) {
                                if (apkinfo.id) {
                                    $.isfullinfo = true;
                                    for (var key in apkinfo) {
                                        if (key == 'id') continue;
                                        if (apkinfo.hasOwnProperty(key)) {
                                            $[key] = apkinfo[key];
                                        }
                                    }
                                } else {
                                    $.isfullinfo = false;
                                }
                            }
                        })
                    }
                });
            },
            select: function (index) {
                this.selectedIndex = index;
                this.getDomainList(this.apps[this.selectedIndex].id);
                this.getApkInfo(this.apps[this.selectedIndex].id);
                location.hash = `${this.currentPage}#${this.selectedIndex}`;
            },
            displayTime: function (time) {
                return moment(time, 'YYYY-MM-DD HH:mm:ss').fromNow()
            },
            beforeEnter: function (el, done) {
                el.style.opacity = 0;
                var len = el.dataset.index * 50;
                $.Velocity(el, {
                    translateY: len + "px"
                }, {
                    complete: done
                });
                //                el.style.height = 0;
            },
            enter: function (el, done) {
                var delay;
                if (el.dataset.index > 10) {
                    delay = 500;
                } else {
                    delay = el.dataset.index * 50;
                }
                setTimeout(function () {
                    $.Velocity(
                        el, {
                            opacity: 1,
                            translateY: "0px"
                        }, {
                            complete: done
                        }
                    )
                }, delay)
            },
            leave: function (el, done) {
                var delay = el.dataset.index * 150;
                setTimeout(function () {
                    $.Velocity(
                        el, {
                            opacity: 0,
                            translateY: "200px"
                        }, {
                            complete: done
                        }
                    )
                }, delay)
            },
            getNow: function () {
                $.ajax({
                    url: "/project/getNow",
                    method: "GET",
                    success: (data) => {
                        let serverTime = data.data;
                        let localTime = new Date().getTime();
                        this.timeGap = serverTime - localTime;
                    }
                });

            },
            getData: function (n) {
                if (n > this.pageCount || n < 1) {
                    return;
                }
                $.ajax({
                    url: "/project/getlist",
                    data: {
                        perPage: 9,
                        getPage: n
                    },
                    success: data => {
                        if (data.errno == 0) {
                            var apps = data.data.data;
                            $vm.pageCount = data.data.totalPages;
                            $vm.currentPage = data.data.currentPage;
                            $vm.getNow();
                            setTimeout(() => {
                                $vm.isLoading = false;
                                $vm.apps = apps.map(function (app) {
                                    app.created_time = app.uploadtime;
                                    app.isfullinfo = false;
                                    if (!app.label) {
                                        app.label = "正在检测...";
                                    }
                                    if (!app.logo) {
                                        app.logo = "/static/images/loading.gif";
                                    }
                                    return app;
                                });
                                this.selectedIndex = 0;
                                this.select(this.selectedIndex);

                            }, 100);
                        }
                    }
                });
            }
        },
        mounted: function () {
            $(this.$el).css('opacity', '1')
        }
    });

    function getList() {
        $.ajax({
            url: "/project/getlist",
            data: {
                perPage: 9,
                getPage: lastPage
            },
            success: data => {

                if (data.errno == 0) {
                    var apps = data.data.data;
                    $vm.pageCount = data.data.totalPages;
                    $vm.currentPage = data.data.currentPage;
                    $vm.getNow();
                    if (lastPage > $vm.pageCount || lastPage < 1) {
                        lastPage = 1;
                        if ($vm.pageCount !== 0) {
                            getList();
                        }
                        return;
                    }
                    setTimeout(() => {
                        $vm.isLoading = false;
                        $vm.apps = apps.map(function (app) {
                            app.created_time = app.uploadtime;
                            app.isfullinfo = false;
                            if (!app.label) {
                                app.label = "正在检测...";
                            }
                            if (!app.logo) {
                                app.logo = "/static/images/loading.gif";
                            }
                            return app;
                        });
                        $vm.selectedIndex = lastIndex;
                        $vm.select($vm.selectedIndex);
                    }, 100);
                }
            }
        });
    }
    getList();
</script>
{% endblock %}