<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--<link href="/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/font/iconfont.css">
    <link rel="stylesheet" href="/static/app/css/common.app.css">
    <script src="/static/jQuery/jquery-3.1.1.js"></script>
    <script src="/static/vue/vue.js"></script>
    <style>
        body {
            color: white;
            font-weight: 100;
            font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
        }
    </style>
    {% block header %}

    {% endblock %}
</head>
{%block content%}
{%endblock%}
<script src="/static/bootstrap/js/bootstrap.js"></script>
{%block js%}
{%endblock%}
</html>
