{% extends "./base.html" %} {% block header%}
<style>
    .left-nav-link {
        width: 60px;
        height: 60px;
        /*background: rgba(30, 29, 39, 0.18);*/
        /*border-radius: 50px;*/
        text-align: center;

        /*padding-top: calc(50px - 1.4em);*/

    }
    #yingyongtianjia{
        margin-top: 150px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    #lishi {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    /*#yingyongtianjia:hover {
        border-left: 2px solid #49a2f5;
        background: rgba(30, 29, 39, 0.18) ;
    }
    #yingyongtianjia:hover a {
        background-image: url("/static/img/yingyongtianjia-xuanze.png");
    }

    #lishi:hover {
        border-left: 2px solid #49a2f5;
        background: rgba(30, 29, 39, 0.18) ;
    }
    #lishi:hover a {
        background-image: url("/static/img/lishi-xuanze.png");
    }*/

    .left-bar {
        width: 60px;
        position: relative;
    }

    .right-content {
        width: calc(100% - 60px);

    }

    @media screen and (max-width: 760px) {
        .right-content {
            width: calc(100% - 150px);
        }
    }

    .button-btn {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        margin: 5px 0px;
        border-radius: 5px;
        text-align: center;
    }

    #yingyongtianjia a{
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.5em;
        background-image: url('/static/img/yingyongtianjia-weixuanze.png');
        display: inline-block;
        width: 26px;
        height: 26px;
    }

    #lishi a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.5em;
        background-image: url('/static/img/lishi-weixuanze.png');
        display: inline-block;
        width: 26px;
        height: 28px;
    }

    .nav-bar {
        width: 100%;
        height: 60px;
        background: #ffffff;
        color: #8696aa;
        font-weight:500;
        padding-left:30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .guide-bar {
        width: 100%;
        height: 60px;
        font-weight:400;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }

</style>
{% block headerbar %} {% endblock %} {% endblock %} {% block content %}

<body>
<div class="" style="height: 100%">
    <div class="left-bar" style="background: #27384f;height: 100%;float:left;overflow:hidden">
        <div style="height:60px;width:100%;vertical-align: middle;text-align: center;background: #49a2f5">
            <!--<h1 style="font-weight: 100;">One</h1>-->
            <!--<hr>-->
        </div>
        <div class="left-nav-link" id="yingyongtianjia">
            <a  href="/project/create"></a>
        </div>
        <div class="left-nav-link" id="lishi">
            <a href="/project/history"></a>
        </div>

    </div>
    <div class="right-content" id="right-content" style="background: transparent;height: 100%;float:left">
        <div class="nav-bar">
            <div class="platinfo" style="width:200px;text-align: justify;">
                <p style="margin-bottom: 0;font-size: 14px">安码科技移动应用检测平台</p>
                <p style="margin-bottom: 0;font-size: 5px">SAFE-CODE MOBILE</p>
            </div>
            <div class="sign-out">
                <span id="user-name" ></span>
                <a href="/user/logout"><img src="/static/img/tuichu.png" alt="" style="width: 20px;height: 20px"></a>
            </div>
        </div>
        <div class="guide-bar">
            <p>历史记录<span style="color: #49a2f5;"> / HISTORICAL RECORD</span></p>
            <div style="width: 100%;height: 1px;background-color: #8696aa;margin-bottom: 15px;"></div>
        </div>
        {% block contentright %} {% endblock %}
    </div>
</div>
</body>
<script>
    $.ajax({
        url: '/user/getuserinfo',
        success: (data) => {
            if (data.errno === 0) {
                $("#user-name")[0].innerHTML = data.data.username;
            }
        }
    })
</script>
{% endblock %}